.footer {
    height: 100px;
    color: white;
    position: relative;
    bottom: 0;
    left:0;
    width: 100%;
    background: #6d3580;
    display: -webkit-flex;
    vertical-align: middle;
}
.footer > p {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-top: 2rem;
}

.elementPurple {
    background: #6d3580;
    color: white;
}

.purple-btn {
    background: #6d3580;
    color: white;
}
.purple-btn:hover {
    background: #452152;
    color: white;
}

.maincontainer {
    width: 75%;
    min-height: 600px;
    margin-top: 40px;
    margin-left: 170px;
    margin-bottom: 70px;
}

.productTile {
    background: red;
    min-width: 200p;
    width: 200px;
    height: 200px;
}

.hiddenGallery {
    display: none;
}

.productImgDiv {
 height: 350px;
}

.productImg {
    height: 200px;
    width: 200px;
}

.productNameSpan {
    text-decoration: none;
}

.detailImg {
    height: 380px;
    width: 320px;
}