<div id="productImgDiv" class="col-lg-3 col-md-4 col-6">
    <a href="/products/<%= item.id%>" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail productImg" src="<%= item.imagePath%>" alt="">
        <span class="productNameSpan mt-2"><%= item.name %></span>
    </a>
</div>