<!DOCTYPE html>
<html>
<%- include ../partials/head %>
<body>
    <%- include ../partials/header %>
    <div class="jumbotron">
        <h1 class="display-4">Error: 404
        </h1>
        <p class="lead">The page you're requesting is not found</p>
        <a class="btn btn-lg purple-btn" href="/products" role="button">Start Shopping Now</a>
    </div>
    <%- include ../partials/footer %>
</body>
</html>