<!DOCTYPE html>
<html>
<%- include('../partials/head', {title: 'PairCommerce : e-Commerce for PairProject'})%>
<body>
    <%- include ../partials/header %>
    <div class="jumbotron">
        <h1 class="display-4">Hello! Welcome to <underline>PairCommerce</underline>
        </h1>
        <p class="lead">An e-Commerce App for Hacktiv8 Pair Project</p>
        <hr class="my-4">
        <a class="btn btn-lg purple-btn" href="/products" role="button">Start Shopping Now</a>
    </div>
    <%- include ../partials/footer %>
</body>

</html>