<!DOCTYPE html>
<html>
<%- include('../../partials/head', {title: 'Cart'})%>

<body>
    <%- include ../../partials/header %>
    <div class="container-fluid maincontainer">
        <div class="row">
            <h4>Your transaction is complete. Thanks for shopping with us!</h4>
        </div>
        <div class="row mt-4">
            <a href='/products' class='btn purple-btn'>Go to Products</a>
        </div>
    </div>
    <%- include ../../partials/footer %>
</body>

</html>